header{
	background: #0020F4;
}
ul{
	list-style-type: none;
}
 .navi1 a:hover {
    color: rgb(246, 255, 0);
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
  }
nav a {
    color: white;
  }
  h3 {
    text-align: center;
  }
  
  body {
    background-color: rgb(218, 231, 231);
  }
 .main-img {
    width: 900px;
    height: 500px;
    margin: auto;
    display: block;
  }
  .section-photo {
    text-align: center;
  }
    footer {
    background: #0020f4 0% 0% no-repeat padding-box;
    color: antiquewhite;
  }